.overlay-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999999999;
}

.modal-container {
	background: #fefefe;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 10000;
	max-width: 480px;
	width: 100%;
	max-height: 640px;
	height: 100%;
	overflow-y: auto;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	transform: translate(-50%, -50%);
	& .modal-header,
	& .modal-body,
	& .modal-footer {
		padding: 20px 30px;
	}

	& .modal-header {
		background: #f4f7c1;
		padding: 30px;
	}

	& .section-div {
		background: #ececec;
		padding: 10px;
	}

	& .detail-tag {
		margin: 10px 0;
		& summary {
			font-size: 16px;
			margin-bottom: 10px;
		}
	}

	& .feature-btn {
		font-size: 14px;
	}

	.btn {
		cursor: pointer;
		padding: 8px 14px;
		font-size: 16px;
		transition: ease-in 0.2s;
		&.btn-primary {
			background: var(--whois-lookup-primary-color);
			color: white;
		}

		&.btn-primary:focus,
		&.btn-primary:hover {
			background: #10576b;
			// color: var(--whois-lookup-primary-color);
		}

		&.btn-outlined {
			background: white;
			color: var(--whois-lookup-primary-color);
		}

		&.btn-outlined:focus,
		&.btn-outlined:hover {
			background: #ececec;
		}
	}
}
